.paper{
  background-color: #fffacd;
  width: 400px;
  height: 40px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn{
  border-radius: 16px;
  padding: 4px 12px;
  background-color: #f8b500;
  margin-left: 10px;
  &:hover{
    background-color:#f08300;
  }
}

.input{
  background-color: #fff;
}